.button {
  width: 153px;
  height: 32px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  background: $main-color;
  &-main {
    width: 300px;
    height: 50px;
    margin-top: 67px;;
    font-size: 16px;
    line-height: 25px;
  }
  &-consultation {
    margin-top: 5px;
    width: 100%;
    height: 58px;
    font-size: 16px;
    line-height: 25px;
  }
  &__catalog {
    width: 135px;
    height: 44px;
  }
}