.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 250px;
  }
  &__official {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    .span-bolt {
    display: block;
    font-size: 18px;
    line-height: 29px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  &__phone {
    display: block;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    &:hover {
      color:#FFFFFF;
    }
  }
}